version: '3.8'
services:
  fastapi:
    container_name: 'fastapi-core'
    entrypoint: "/entrypoint.sh"
    networks:
      - app_network
    restart: on-failure
    build: .
    expose:
      - ${FASTAPI_PORT}
    volumes:
      - "./:/microservice"
    ports:
      - ${FASTAPI_PORT}:${FASTAPI_PORT}
    depends_on:
      - postgres
#      - kafka

  postgres:
    container_name: 'postgres'
    networks:
      - app_network
    image: postgres:14
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

#  zookeeper:
#    image: confluentinc/cp-zookeeper:latest
#    networks:
#      - app_network
#    env_file:
#      - .env
#    expose:
#      - ${ZOOKEEPER_PORT}
#    ports:
#      - ${ZOOKEEPER_PORT}:${ZOOKEEPER_PORT}
#
#  kafka:
#    image: confluentinc/cp-kafka:latest
#    networks:
#      - app_network
#    depends_on:
#      - zookeeper
#    expose:
#      - ${KAFKA_PORTS}
#    ports:
#      - ${KAFKA_PORTS}:${KAFKA_PORTS}
#    env_file:
#      - .env


networks:
  app_network:
    name: microservice_practic